/* CONTACTO */
.contacto{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto .contactoTitulo{
    margin-bottom: 10px;
}

.contacto .contactoTitulo h3{
    text-transform: uppercase;
    @include animacionCardTips();
}

.contactoDescripcion{
    width: 100%;
    display: grid;
    grid-template-areas: 'mapa formulario';
    grid-template-columns: 50% 50%;
    align-items: center;
    @include animacionCardTips();
}

.mapaGoogle{
    grid-area: mapa;
    width: 100%;
}

.formularioContacto{
    grid-area: formulario;
    width: 100%;
    padding: 10px 20px;
}

.btnPersonalized1 {
    background-color: $--color1;
    color: $--colorBlanco;
    @include animacionLink();
}

.btnPersonalized1:hover {
    background-color: $--color2;
    color: $--colorBlanco;
}

.btnPersonalized2 {
    background-color: $--color3;
    color: $--colorBlanco;
    @include animacionLink();
}

.btnPersonalized2:hover {
    background-color: $--color4;
    color: $--colorBlanco;
}

.btnPersonalized3 {
    background-color: $--color5;
    color: $--colorBlanco;
    @include animacionLink();
}

.btnPersonalized3:hover {
    background-color: $--color6;
    color: $--colorBlanco;
}

.bgInput {
    border: 1.8px solid $--color2;
    @include animacionLink();
}

.bgInput:focus {
    border: 2px solid $--color2;
    box-shadow: 0 0 0 0.2rem $--color2;
}

@media (max-width: 800px){
    .contactoDescripcion{
        grid-template-areas: 'mapa'
        'formulario';
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin-top: 25px;
    }

    .mapaGoogle{
        grid-area: mapa;
        width: 100%;
    }
}